[submodule "acados"]
	path = acados
	url = https://github.com/StanfordMSL/acados.git
[submodule "nerfstudio"]
	path = nerfstudio
	url = https://github.com/sdencanted/nerfstudio
[submodule "v2e"]
	path = v2e
	url = https://github.com/sdencanted/v2e
